<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.truemind.pensionnleisure">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Pension N leisure"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".softkeyboard.SoftKeyboard"
            android:label="@string/ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
        <meta-data android:name="android.view.im" android:resource="@xml/method"/>
        <intent-filter>
            <action android:name="android.view.InputMethod" />
        </intent-filter>
        </service>

        <activity android:name=".MainActivity"/>
        <activity android:name=".GalleryActivity"/>
        <activity android:name=".LeisureActivity"/>
        <activity android:name=".PensionActivity"/>
        <activity android:name=".IntroActivity"/>
        <activity android:name=".ReservActivity"/>
        <activity android:name=".SpecActivity"/>
        <activity android:name=".CheckActivity"/>
        <activity android:name=".MapActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".KeyboardSetActivity"/>



        <View android:name=".WordComposer"></View>
    </application>

</manifest>